!URxvt.font: xft:Gohu GohuFont:pixelsize=20
! URxvt.font: xft:Comic Code Ligatures:pixelsize=14
! URxvt.font: xft:monoMMM_5:pixelsize=14
! URxvt.font: xft:ProggyClean Nerd Font:size=12
! URxvt.boldFont: xft:ProggyClean Nerd Font:size=12
! URxvt.font: xft:Monocraft:style=Regular:size=12
! URxvt.boldFont: xft:Monocraft:style=Regular:size=12
URxvt.font: xft:UbuntuMono Nerd Font:style=Regular:size=12
URxvt.boldFont: xft:UbuntuMono Nerd Font:style=Bold:size=12
URxvt.geometry:111x35
URxvt.perl-ext-common: "default,resize-font,52-osc,selection-to-clipboard,-searchable-scrollback"
! URxvt.clipboard.autocopy: true
! URxvt.keysym.M-c: pearl:clipboard:copy
! URxvt.keysym.M-v: pearl:clipboard:paste

URxvt.internalBorder: 5
URxvt.cursorBlink: True
URxvt.scrollBar: false

URxvt*depth: 32
URxvt.keysym.C-minus:     resize-font:smaller
URxvt.keysym.C-plus:      resize-font:bigger
URxvt.keysym.C-equal:     resize-font:reset
URxvt.keysym.C-question:  resize-font:show
URxvt.iso14755: false
URxvt.iso14755_52: false


! ! monotheme color scheme
! ! special
! *.foreground:   #ffffff
! *.background:   #000000
! *.cursorColor:  #ffffff
!
! ! black
! *.color0:       #000000
! *.color8:       #202020
!
! ! red
! *.color1:       #6b6b6b
! *.color9:       #464646
!
! ! green
! *.color2:       #c4c4c4
! *.color10:      #f8f8f8
!
! ! yellow
! *.color3:       #b3b3b3
! *.color11:      #eeeeee
!
! ! blue
! *.color4:       #999999
! *.color12:      #7c7c7c
!
! ! magenta
! *.color5:       #717171
! *.color13:      #adadad
!
! ! cyan
! *.color6:       #8a8a8a
! *.color14:      #c0c0c0
!
! ! white
! *.color7:       #b5cabb
! *.color15:      #99ac9e
!
! !! special
! *.foreground:   #ffffff
! *.background:   #000000
! *.cursorColor:  #ffffff
!
! ! black
! *.color0:       #2e3436
! *.color8:       #555753
!
! ! red
! *.color1:       #a31604
! *.color9:       #c60001
!
! ! green
! *.color2:       #447241
! *.color10:      #27a343
!
! ! yellow
! *.color3:       #c1951a
! *.color11:      #d5a30e
!
! ! blue
! *.color4:       #425387
! *.color12:      #4a5a8d
!
! ! magenta
! *.color5:       #965d98
! *.color13:      #893c8c
!
! ! cyan
! *.color6:       #06989a
! *.color14:      #12bccb
!
! ! white
! *.color7:       #d3d7cf
! *.color15:      #eeeeec
!
!
!
!
URxvt.color0:   #000000
URxvt.color8:   #000054

URxvt.color1:   #cc241d
URxvt.color9:   #ff827d

URxvt.color2:   #4dd789
URxvt.color10:  #7eecad

URxvt.color3:   #c2c25f
URxvt.color11:  #ffff54

URxvt.color4:   #00c5df
URxvt.color12:  #64fcfc

URxvt.color5:   #ff3cff
URxvt.color13:  #ff89ff

URxvt.color6:   #c3d3cf
URxvt.color14:  #ffffff

URxvt.color7:   #A8A8A8
URxvt.color15:  #FFFFFF



URxvt.cursorColor:  #dc74d1
URxvt.pointerColor: #dc74d1
! URxvt.background:   #0e0e0e
! URxvt.background:   #070707
*.background:   #2b3031
URxvt.foreground:   #cbcbcb
! URxvt.color0:       #000000
! URxvt.color8:       #8b8f93
! URxvt.color1:       #dc74d1
! URxvt.color9:       #dc74d1
! URxvt.color2:       #0eb8c7
! URxvt.color10:      #0eb8c7
! URxvt.color3:       #dfe37e
! URxvt.color11:      #dfe37e
! URxvt.color5:       #9e88f0
! URxvt.color13:      #9e88f0
! URxvt.color6:       #73f7ff
! URxvt.color14:      #73f7ff
! URxvt.color7:       #e1dddd
! URxvt.color15:      #e1dddd
